[Unit]
Description=Full text search for personal files
After=network.target
Type=simple

# Teste antes da linha
# Comentario
# Teste depois de comentario feito em local
[Service]
ExecStart=/usr/bin/env python3 /data/AppSys/recollwebui/kmrecollwebui/webui-standalone.py -a %H -p 58143
Restart=on-failure
ExecStop=/bin/kill -SIGINT $MAINPID

[Install]
WantedBy=multi-user.target
